<%- include('../partials/header') %>

<section id="show-page">
  <div>Name: </div>
  <div><%= profile.name %></div>
  <div>Email: </div>
  <div><%= profile.email %></div>
  <div>Phone Number: </div>
  <div><%= profile.phoneNumber %></div>
  <div>Birthday: </div>
  <div><%= profile.birthday %></div>
</section>



<%- include('../partials/footer') %>
