<%- include('../partials/header') %>
<div class="container-width">
  <div class="card">
    <div class="row">
      <div>Name: </div>
      <div><%= profile.name %></div>
    </div>
    <div class="row">
      <div>Email: </div>
      <div><%= profile.email %></div>
    </div>
    <div class="row">
      <div>Phone Number: </div>
      <div><%= profile.phoneNumber %></div>
    </div>
    <div class="row">
      <div>Birthday: </div>
      <div><%= profile.birthday %></div>
  </div>
</div>
</div>


<%- include('../partials/footer') %>
