<%- include('../partials/header') %>
<div class="container-width mx-auto">
  <div class="card">
    <div class="row">
      <div>Name: </div>
      <div><%= profile.name %></div>
    </div>
    <div class="row">
      <div>Email: </div>
      <div><%= profile.email %></div>
    </div>
    <div class="row">
      <div>Phone Number: </div>
      <div><%= profile.phoneNumber %></div>
    </div>
    <div class="row">
      <div>Birthday: </div>
      <div><%= profile.birthday %></div>
    </div>
  </div>
</div>
<button class="btn btn-info" id="center">
  <a class="edit-button" href="/profile/<%=profile._id %>/edit">Edit</a>
</button>

<%- include('../partials/footer') %>
