<%- include('../partials/header') %>

<main class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-info rounded shadow-sm">
    <div class="lh-100">
      <h5 class="mb-0 text-white lh-100">Profile</h5>
    </div>
  </div>
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="container d-flex justify-content-center">
      <div class="container d-block">
        <div class="row justify-content-center text-muted">
          <p>
            <strong class="d-block text-gray-dark">Name:</strong>
            <div class="profile-info"><%= profile.name %></div>
          </p>
        </div>
        <div class="row justify-content-center text-muted">
          <p>
          <strong class="d-block text-gray-dark">Email:</strong>
          <div class="profile-info"><%= profile.email %></div>
          </p>
        </div>
        <div class="row justify-content-center text-muted">
          <p>
          <strong class="d-block text-gray-dark">Birthday:</strong>
          <div class="profile-info"><%= profile.birthday %></div>
          </p>
        </div>
        <div class="row justify-content-center text-muted">
          <p>
          <strong class="d-block text-gray-dark">Phone Number:</strong>
          <div class="profile-info"><%= profile.phoneNumber %></div>
        </p>
        </div>
      </div>
      </div>

    <button class="btn btn-info" id="center">
      <a class="edit-button" href="/profile/<%=profile._id %>/edit">Edit</a>
    </button>
  </div>
</main>



<%- include('../partials/footer') %>
