<%- include('../partials/header') %>
<main class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-info rounded shadow-sm">
    <div class="lh-100">
      <h5 class="mb-0 text-white lh-100">Friend List</h5>
    </div>
  </div>
  <p class="d-flex justify-content-center description">Add your friends to the below to receive a reminder text on their birthday. Never forget a friend's birthday again!</p>
  </section>
  <div class="container">
    <% if (user.friends.length > 0) { %>
      <table class="table">
        <thead>
          <tr class="table-info">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthday</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% user.friends.forEach(function(friend, index) { %>
          <tr>
            <td><%= friend.firstName %></td>
            <td><%= friend.lastName %></td>
            <td><%= friend.birthday %></td>
              <td>
                <button class="btn btn-info">
                  <a class="edit-button" href="/friends/<%=friend._id %>/edit">Edit</a>
                </button>
              </td>
              <td>
                <form action="/friends/<%= friend._id %>?_method=DELETE" class="delete-form" method="POST">
                  <button class="btn btn-danger" type="submit">X</button>
                </form>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
    <h5 class="d-flex justify-content-center no-friends-yet">No Friends Added Yet</h5>
    <% } %>
    <div class="d-flex justify-content-center">
      <form class="form-margin" action="<%= user._id %>/friends" method="POST">
        <div class="form-group">
          <label>First Name:</label>
          <input type="text" name="firstName">
        </div>
        <div class="form-group">
          <label>Last Name:</label>
          <input type="text" name="lastName">
        </div>
        <div class="form-group">
          <label class="update-profile-margin">Birthday:</label>
          <input type="date" name="birthday">
        </div>
        <div class="btn-center">
          <button class="btn btn-info" id="center" type="submit">Add Friend</button>
        </div>
      </form>  
    </div>
  </div>
 
</main>


<%- include('../partials/footer') %>
